.swiper.mainSlider {
  width: 100%;
  height: 100%;
}

.swiper.mainSlider .swiper-slide {
  position: relative;
  width: 100%;
  height: 100%;
}
.swiper.mainSlider .swiper-slide img {
  width: 100%;
  height: 100%;
}
.swiper.mainSlider .swiper-slide p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 12px 16px;
  white-space: nowrap;
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px);
  color: white;
  font-size: 2rem;
  letter-spacing: 6px;
  border-radius: 8px;
}

/* .mainSlider .swiper-button-prev,
.mainSlider .swiper-button-next::after {
  font-size: 8px !important;

  width: 20px !important;
  height: 20px !important;
} */

.mainSlider .swiper-button-prev,
.mainSlider .swiper-button-next {
  color: #fff;
  background: rgba(0, 0, 0, 0.4);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  backdrop-filter: blur(4px);
  padding: 8px;
  margin: 5px;
}
/* .swiper-button-prev,
.swiper-button-next {
  color: #fff;
  background: rgba(0, 0, 0, 0.4);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  backdrop-filter: blur(4px);
} */
